html, body, #app {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f9;
}
.el-table {
  overflow-x: auto;
}
.el-card {
  width: 100%;
}